---
import { render } from "astro:content"
import SiteDocument from "../../components/SiteDocument.astro"
import {
  getArticles,
  getArticleSlug,
  isDraftArticle
} from "../../lib/content/articles"
import { formatArticleDate } from "../../lib/dates"
import { getPageTitle, siteTitle } from "../../lib/site"

export const getStaticPaths = async () =>
  (await getArticles())
    .map((article) => ({
      params: { slug: getArticleSlug(article) },
      props: { article }
    }))

const { article } = Astro.props
const { Content } = await render(article)
---

<SiteDocument title={getPageTitle(article.data.title)}>
  <main>
    <article>
      <header>
        <p><a href="/">{siteTitle}</a></p>
        <h1>{article.data.title}</h1>
        {isDraftArticle(article) && <p>Draft</p>}
        {article.data.subtitle && <p>{article.data.subtitle}</p>}
        <p>
          <time datetime={article.data.created.toISOString()}>
            {formatArticleDate(article.data.created)}
          </time>
        </p>
        {
          article.data.tags.length > 0 && (
            <ul aria-label="Tags">
              {article.data.tags.map((tag) => <li>{tag}</li>)}
            </ul>
          )
        }
      </header>
      <Content />
    </article>
  </main>
</SiteDocument>
